
<html>


    <head>
        <title>Home</title>
</head>


<body>
    
    <h1 class="titolo">HOME PAGE</h1>
    <div id="immagini"> 
        <a href="/meteo"><img src="static/images/meteo.jpg" alt="Immagine meteo" width="500" height="300"></a>
        <a href="/frasicelebri"><img src="static/images/images.jpg" alt="Immagine libro" width="500" height="300"></a>
        <a href="/quantomanca"> <img src="static/images/calendario.png" alt="Immagine calendario" width="500" height="300"></a>
    </div>
</body>


</html