<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/ric" method = "GET">
        <p>ricerca in base a</p>

        <div>
          <input type="radio"  name="drone" value="squadra"
                 checked>
          <label for="huey">Huey</label>
        </div>
        
        <div>
          <input type="radio"  name="drone" value="anno">
          <label for="dewey">Dewey</label>
        </div>
        
        <div>
          <input type="radio"  name="drone" value="citta">
          <label for="louie">Louie</label>
        </div>
        <p>inserisci l'informazione da cercare  <input type = "text" name = "info" required/></p>


    <p><input type = "submit" value = "Submit" /></p> 
    </form>
</body>
</html>